
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">All Students List</div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" card mt-3">
<!--                <div class=" card-header">-->
<!--                  <h4 class=" card-title">Simple Table</h4>-->
<!--                </div>-->
                <div class=" card-body">
                  <div class=" table-responsive">
                    <table class=" table tablesorter" id="">
                      <thead class=" text-primary">
                      <tr>
                        <th>Name</th>
                        <th>University</th>
                        <th>Contract</th>
                        <th class=" text-center">Room Type</th>
                        <th class=" text-center">Modify</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let student of studentsList">
                        <td>{{student.name}}</td>
                        <td>{{student.university}}</td>
                        <td>{{student.contractEndDate}}</td>
                        <td class=" text-center">{{student.roomType}}</td>
                        <td class=" text-center">
                          <button type="button" class=" btn " (click)="test(student)">
                            Modify
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
