<!--<div class=" content">-->
<!--  <div class=" row">-->
<!--    <div class=" col-md-12">-->
<!--<form class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">-->
<!--  <input placeholder="Email" formControlName="email">-->
<!--  <input placeholder="Password" formControlName="password">-->
<!--  <button type="submit" class="mt-2">Login</button>-->
<!--</form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center mb-4">Fole Student System</h2>

          <form class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
        </div>
      </div>

      <!-- Logo Section -->
        <div class="text-center mt-3">
          <img src="./assets/img/logo-s.png" alt="Your Logo" width="40">
          <a href="#" class="simple-text logo-normal">
            Nesting Solutions
          </a>
        </div>
        </div>
      </div>
    </div>



